<!-- Ergänzung von base.html -->
{% extends 'todotracker/base.html' %}

<!-- Navigationsbar, Aufgabe anlegen bekommt class=active -->
{% block navbar_content %}
            <!--navbar linkbündig-->
            <ul class="nav navbar-nav">
               <li><a href="{% url 'task_list' %}">Übersicht</a></li>
               <li class="active"><a href=#>Aufgabe anlegen</a></li>
            </ul>
            <!-- navbar rechtsbüdig-->
            <ul class="nav navbar-nav navbar-right">
               <li><a href="{% url 'impressum' %}">Impressum</a></li>
            </ul>
{% endblock navbar_content %}
    
<!-- Inhalt, hier: Eingabeformular -->


{% block content %}
    <h2>Aufgabe anlegen</h2>
    <form method="POST">{% csrf_token %}
			{{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}

{% block js %}	
	<script>
		title = document.getElementById('id_title');
		text = document.getElementById('id_text');
		deadline = document.getElementById('id_deadline');
		state = document.getElementById('id_state');
		title.className = "form-control";
		text.className = "form-control";
		deadline.className = "form-control";
		state.className = "form-control";
	</script> 
{% endblock js %}